<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Cadastrar Cliente</title>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />

</head>
<body>
    <h1 th:text="${acao}"></h1>
        
    <form method="POST" th:action="@{/${acao}}" th:object="${cliente}">
        <table>
            <tr><td></td><td><input type="hidden" name="id" value="${cliente.id}"></td></tr>
            <tr><td>RG</td><td><input type="text" name="rg" th:value="${cliente.rg}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Data de Nascimento</td><td><input type="text" name="dataNascimento" th:value="${cliente.dataNascimento}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Nome </td><td><input type="text" name="nome" th:value="${cliente.nome}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>E-mail</td><td><input type="text" name="email" th:value="${cliente.email}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>CEP</td><td><input type="text" name="cep" th:value="${cliente.cep}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Logradouro</td><td><input type="text" name="logradouro" th:value="${cliente.logradouro}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Numero</td><td><input type="text" name="numero" th:value="${cliente.numero}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Complemento</td><td><input type="text" name="complemento" th:value="${cliente.complemento}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Bairro</td><td><input type="text" name="bairro" th:value="${cliente.bairro}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>UF</td><td><input type="text" name="uf" th:value="${cliente.uf}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Cidade</td><td><input type="text" name="cidade" th:value="${cliente.cidade}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Telefone</td><td><input type="text" name="telefone" th:value="${cliente.telefone}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
            <tr><td>Celular</td><td><input type="text" name="celular" th:value="${cliente.celular}" th:attr="readonly=${acao == 'delete'} ? 'true' : 'false'"></td></tr>
        </table>
        <button type="submit">Confirmar</button>
    </form>
    <a href="/listaCliente">Voltar para lista de clientes</a>
    
    	<script	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script type="text/javascript" src="materialize/js/materialize.js"></script>
</body>
</html>