<!DOCTYPE html>
<html  xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Lista de Clientes</title>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="materialize/css/materialize.css" media="screen,projection" />

</head>
<body>
<h3>Lista de Clientes</h3><br>
<a href="/cadastroCliente">Cadastrar Clientes</a></br>
<a href="/">Tela inicial</a>
</body>
</html>